body {
  background-color: LightCyan;
}
hr {
  width: 90%;
}

h3 {
  color: black;
  font-align: center;
  font-size: 30px;
}
p {
  font-family: georgia;
  font-size: 16px;
  color: black;
  font-weight: 400;
  text-align: center;
}
.title {
font-family: georgia;
font-size: 70px;
color: #F08080;
text-align: center;
}

.divider {
  color: #f1daf5;
}

.user_input {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.input {
  margin: auto;
  width: 50%;
  padding: 1px;
  border-radius: 25px;
  font-size: 29px;
  background-color: lightgrey;
  border-color: #f1daf5;
  color: black;
}
.dabutton {
  width: 5%;
  padding: 10px;
  font-family: georgia;
  font-size: 20px;
  color: #f1daf5;
  background-color: lightgrey;
  border-color: #f1daf5;
}
table {
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    margin-top: 22px;
    border-spacing: 10px;
    border-radius: 25px;
    background-color: #F08080;
    font-family: sans-serif;
}

 td {
  font-family: georgia;
  font-size: 16px;
  letter-spacing: 0.6px;
  word-spacing: 6px;
  color: #f1daf5;
  font-weight: 400;
}
.todo {
  font-family: sans-serif;
  text-align: center;
  border: 2px solid;
  background-color: LightCyan;
  font-size: 25px;
  border-radius: 5px;
}
.todo:hover {
  background-color: lightgrey;
  color: black;
  border-color: black;
}
.row {
    margin-top: 20px;
    height: 40px;
}
.prioritybutton {
    width: 40px;
    text-align: center;
    background-color: LightCyan;
    border: 2px solid;
    border-radius: 5px;
}
.prioritybutton:hover {
    background-color: #93f080;
    color: black;
    border-color: #F08080;
}
.completebutton {
    align: left;
    width: 40px;
    text-align: center;
    background-color: LightCyan;
    border-radius: 5px;
    border: 2px solid;
}
.completebutton:hover {
    background-color: blue;
    color: black;
    border-color: #8d80f0;
}
.removebutton {
    align: left;
    width: 40px;
    text-align: center;
    background-color: LightCyan;
    border: 2px solid;
    border-radius: 5px;
}
.removebutton:hover {
    background-color: #ff4040;
    color: black;
    border-color: #F08080;
}
